name: Build Android APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python_version: '3.10'

      - name: Install Dependencies
        run: |
          sudo apt update
          # حذف پکیج‌های قدیمی و نصب موارد ضروری برای اوبونتو جدید
          sudo apt install -y git zip unzip autoconf libtool pkg-config zlib1g-dev libncursesw5-dev cmake libffi-dev libssl-dev
          pip install --upgrade pip
          pip install buildozer cython==0.29.33

      - name: Build with Buildozer
        run: |
          # ترفند طلایی برای حذف سوالات لایسنس و جلوگیری از قطع شدن پایپ
          export APP_ANDROID_ACCEPT_SDK_LICENSE=True
          yes | buildozer -v android debug
