name: Build Android APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Check Files
        run: ls -R # این دستور لیست تمام فایل‌های تو را چاپ می‌کند تا ببینیم چیزی جا نیفتاده

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python_version: '3.10'

      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install buildozer cython==0.29.33

      - name: Build with Buildozer
        run: |
          # استفاده از دستور کامل برای اطمینان از نصب پیش‌نیازهای لینوکسی توسط خود بیلدوزر
          yes | buildozer -v android debug
        continue-on-error: false

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: GA-Radar-Package
          path: bin/*.apk
