name: Build Android APK
on: [push, workflow_dispatch] # اضافه شدن دکمه اجرای دستی

jobs:
  build:
    runs-on: ubuntu-22.04 # استفاده از نسخه پایدارتر
    steps:
      - uses: actions/checkout@v3

      - name: Get Date
        id: get-date
        run: |
          echo "date=$(date +'%Y-%m-%d-%H;%M;%S')" >> $GITHUB_OUTPUT

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python_version: '3.10'

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev
          pip install --upgrade pip
          pip install buildozer cython==0.29.33

      - name: Build with Buildozer
        run: |
          yes | buildozer -v android debug
        # کلمه yes تمام سوالات لایسنس را در نطفه خفه می‌کند!

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: GA-Radar-Package
          path: bin/*.apk
